* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: burlywood;
}

:root {
    --primary: lightblue;
    --secondary: grey;
    --line: crimson;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid;
}

.myFace {
    background-image: url("anthonyWalker.png");
    background-size: 50%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 900px;
    background-position: center;
}

h2{
    border-right: 5px solid var(--line);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.aboutMe { 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.aboutMe p{
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}

.myApps{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.myAppsPreview{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.myAppsView{
    border: solid;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

.horiseon{
    background-image: url(./digital-marketing-meeting.jpg);
}





