* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #233d8c;
    --secondary: #81848f;
    --pop: #873636;
}

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 50px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 0px;
}

header nav ul li {
    font-size: 1.8vw;
    padding: 10px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: solid;
}

.myFace {
    background-image: url("anthonyWalker.png");
    background-size: 50%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 900px;
    background-position: top;
}

h2{
    border-right: 5px solid var(--pop);
    min-height: 100%;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}

.aboutMe { 
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.aboutMe p{
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.6;
    width: 90%;
}





